body {
	font-family: 'Asap', sans-serif;
	margin: 0 auto;
	width: 70%;
}

nav {
	 background-color: rgba(3, 46, 168, 0.8);
	 width: 100%;
	 padding: 1% 0;
	 text-align: center;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav a {
	text-decoration: none;
	color: #E0E0E0;
	padding: 0 2%;
}

nav a:hover {
	color: #F8F8F8;
	text-shadow: 1px 1px 3px #410546; 
}

h1 {
	font-weight: lighter;
	margin: 3% 0;
}

p {
	font-weight: lighter;
	font-size: 1.1em;
	color: #191919;
	line-height: 1.75em;
	max-width: 90%;
	padding: 0 5% 1% 5%;
	margin: 5% 0;
	border-left: 2px solid #7F7F7F;
}

footer {
	display: block;
	clear: both;
	font-weight: lighter;
	color: #A1A1A1;
	text-align: center;
}