body {
	width: 70%;
	margin: 0 auto;
	font-family: 'Asap', sans-serif;
}

.main-header {
	background: url('http://i.imgur.com/LCPimdX.jpg') no-repeat center / cover;
	height: 400px;
	opacity: 0.8;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	font-weight: lighter;
	font-size: 3em;
	color: white;
	position: absolute;
	right: 250px;
	top: 40px;
	text-shadow: 2px 2px #434343;
}

h2 {
	color: #fff;
	font-weight: lighter;
	font-size: 1em;
	text-shadow: 1px 1px #363636;
	position: absolute;
	right: 250px;
	top: 130px;
}

nav {
	 background-color: rgba(3, 46, 168, 0.8);
	 width: 100%;
	 padding: 1% 0;
	 text-align: center;

}

nav ul li {
	list-style: none;
	display: inline;
}

nav a {
	text-decoration: none;
	color: #E0E0E0;
	padding: 0 2%;
}

nav a:hover {
	color: #F8F8F8;
	text-shadow: 1px 1px 3px #410546; 
}


#description {
	color: #3F3F3F;
	line-height: 2em;
	margin: 5% 0;
}

h3 {
	border-left: 2px solid #7F7F7F;
	font-size: 2em;
	font-weight: lighter;
	border: none;
}

p {
	border-left: 2px solid #7F7F7F;
	margin: 0;
	padding: 0 4%;
}

footer {
	display: block;
	clear: both;
	font-weight: lighter;
	color: #A1A1A1;
	text-align: center;
}
